%nav.bg-purple-50.px-4.py-6.fixed.top-0.left-0.h-full.z-10.shadow-md
  %div.flex.flex-col.items-start.space-y-6
    %div.flex.items-center.space-x-3
      = link_to image_tag("notes-logo.svg", alt: "Logo", class: "h-12"), root_path
      %span.text-gray-800.text-xl.font-semibold QuickNotes

    %div.text-gray-600.mt-2
      %span.block.text-sm Welcome, #{current_user.name}!

    %div.flex-grow.flex.flex-col.space-y-4.mt-6
      - if can? :manage, :all
        %div.flex.flex-col.space-y-4
          %div.flex.items-center.space-x-3
            %span.text-gray-700.font-semibold Manage Notes

          %div.flex.flex-col.space-y-3.ml-6
            %div.flex.items-center.space-x-3
              %i.fas.fa-plus-circle.text-gray-600
              = link_to 'Create New Note', new_note_path, class: "text-gray-600 hover:text-indigo-500 font-semibold"

            %div.flex.items-center.space-x-3
              %i.fas.fa-eye.text-gray-600
              = link_to 'My Notes', notes_path, class: "text-gray-600 hover:text-indigo-500 font-semibold"

          %div.flex.items-center.space-x-3
            %i.fas.fa-users.text-gray-600
            = link_to 'User Management', '#', class: "text-gray-600 hover:text-indigo-500 font-semibold"

      - elsif can? :read, Note
        %div.flex.items-center.space-x-3
          %i.fas.fa-eye.text-gray-600
          = link_to 'View All Notes', notes_path, class: "text-gray-600 hover:text-indigo-500 font-semibold"

    %div.text-gray-600.mt-auto
      %div.flex.items-center.space-x-3
        %i.fas.fa-sign-out-alt.text-gray-600
        = link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-gray-600 hover:text-indigo-500 font-semibold"
